<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >

<head th:replace="main/layout :: header"></head>
    <body>
        <!--<nav class="navbar navbar-inverse"> </nav>-->
        <nav th:replace="main/layout :: navbar"></nav>


        <div class="container">
            <div class="panel panel-info">
                <div class="panel-heading" th:if="${ postCount > 0 }" style="text-align:center;">
                    <span th:text="${postCount}"> </span><span> posts </span>

                </div>

                <div class="panel-heading" th:if="${ postCount <= 0 }" style="text-align:center;">
                    <span> No post </span><a th:href="@{/addpost}">Add a post </a>

                </div>
                <!--  -->
                <div class="panel-body">
                    <div th:each="post : ${page.getContent()}" >
                        <!--  -->
                        <div class="panel panel-info">
                            <!--  -->
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-sm-4" style="">
                                        <a th:href="@{|/profile/${post.user.id}|}">  <span style="color:white;font-size: 16px;" th:text="${post.user.email.split('@')[0]}"></span></a> date: &nbsp;<span th:text="${#dates.format(post.added, 'dd-MMM-yyyy')}"></span>
                                    </div>
                                    <div class="col-sm-4" style="">

                                    </div>
                                    <div class="col-sm-4" >
                                        <a th:href="@{|/editpost/${post.id}|}"> edit </a><a th:href="@{|/delete/${post.id}|}"> delete </a>
                                    </div>
                                </div>
                            </div>
                            <!--  -->
                            <div class="panel-body">
                                <span th:text="${post.text}"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="panel-heading"   style="text-align:center;">
        <!--            <span th:with="url=${'/posts'}"></span>-->
                    <span th:each="x, iterator  : ${page.getContent()}">
        <!--                <a th:href="@{appname/list(page='1',size='10')}"></a>-->
                        <a th:href="@{/posts?(p=${iterator.index + 1})}">
                            <span th:text="${iterator.index}"/>
                        </a>
                        <span th:if="${ iterator.index <  page.getTotalPages() - 1 }">
                            <span> &nbsp|&nbsp </span>
                        </span>

                    </span>
                </div>
            </div>
        </div>

    <!-- -->
    </div>

    </body>
</html>
