.error {
    color: red;
    font-style: italic;
}

 .bg-1 {
    /*padding: 20px 0;
    background-color: #1abc9c; /* Green */
    /*background-color: #337ab7;
    color: #ffffff; */
 }

.bg-2 {

  /*
    background-color: #474e5d; /* Dark Blue
    color: #ffffff; */
}

.bg-3 {
 text-align: left;
  /*text-color: #474e5d;
  font-weight: bold;
    background-color: #ffffff; /* White
    color: #555555;*/
}

.bg-4 {
    padding-top: 10px;
}

.bg-3-label {
    color:#31708f;
    font-size: 16px;

}

.modal-header{
    color: #31708f;
     background-color: #d9edf7;
     border-color: #bce8f1;
}

.modal-title {
    text-align: center;
}

.modal-footer {
    color: #000;
     background-color: #d9edf7;
     border-color: #bce8f1;
}