<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="main/layout :: header"></head>
<body>
<!--<nav class="navbar navbar-inverse"> </nav>-->
<nav th:replace="main/layout :: navbar"></nav>


<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading" th:if="${ postCount > 0 }" style="text-align:center;">
            <span th:text="${postCount}"> </span><span> posts </span>

        </div>

        <div class="panel-heading" th:if="${ postCount <= 0 }" style="text-align:center;">
            <span> No post </span><a th:href="@{/addpost}">Add a post </a>

        </div>

        <div class="panel-body">
            <div class="list-group" th:each ="post: ${posts}">
                <a href="#" class="list-group-item">
                    <!--            <h4 class="list-group-item-heading" th:text="*{post.id}" ></h4>-->
                    <p class="list-group-item-text" th:text="${post.id}" ></p>
                </a>
                <a href="#" class="list-group-item">
                    <!--            <h4 class="list-group-item-heading" th:text="*{post.text}"></h4>-->
                    <p class="list-group-item-text"  th:text="${post.text}"></p>
                </a>
                <a href="#" class="list-group-item">
                    <!--            <h4 class="list-group-item-heading" th:text="*{post.added}"></h4>-->
                    <p class="list-group-item-text" th:text="${#dates.format(post.added, 'dd-MMM-yyyy')}"></p>
                </a>
            </div>
        </div>

        <div class="panel-heading"   style="text-align:center;">
             page

        </div>
    </div>
</div>

<!-- -->


</div>

</body>
</html>