<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="main/layout :: header"></head>
<body>
<!--<nav class="navbar navbar-inverse"> </nav>-->
<nav th:replace="main/layout :: navbar"></nav>


<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading" th:if="${ postCount > 0 }" style="text-align:center;">
            <span th:text="${postCount}"> </span><span> posts </span>

        </div>

        <div class="panel-heading" th:if="${ postCount <= 0 }" style="text-align:center;">
            <span> No post </span><a th:href="@{/addpost}">Add a post </a>

        </div>

        <div class="panel-body">
            <div th:each="post : ${posts}" >
                <!--  -->
                <div class="panel panel-info">
                    <!--  -->
                    <div class="panel-heading">
                        post#:&nbsp;<span th:text="${post.id}"> </span> &nbsp;&nbsp;date:&nbsp;<span th:text="${#dates.format(post.added, 'dd-MMM-yyyy')}"></span>
                    </div>
                    <!--  -->
                    <div class="panel-body">
                        <span th:text="${post.text}"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-heading"   style="text-align:center;">
             page

        </div>
    </div>
</div>

<!-- -->


</div>

</body>
</html>